{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": [0, "as-needed"],
    "new-cap": 0,
    "space-before-function-paren": 0,
    "no-trailing-spaces": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": ["error", { "functions": false }],
    "global-require": 0,
    "quote-props": [2, "consistent"],
    "no-alert": 0,
    "semi": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-statelses-function": [0]
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "globals": {
    "YT": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
