html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: lighter;
  overflow-y: hidden;
  user-select: none;
  color: #222222;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#jude {
  width: 100%;
  height: 100%;
}
