.col {
  display: block;
  float: left;

  &-1 { width: 8.333333333% }
  &-2 { width: 16.666666666% }
  &-3 { width: 24.999999999% }
  &-4 { width: 33.333333332% }
  &-5 { width: 41.666666665% }
  &-6 { width: 49.999999998% }
  &-7 { width: 58.333333331% }
  &-8 { width: 66.666666664% }
  &-9 { width: 74.999999997% }
  &-10 { width: 83.33333333% }
  &-11 { width: 91.666666663% }
  &-12 { width: 99.99999999600001% }
}
