.main {
  @include container;
  height: 100%;

  h1 {
    font-size: 20px;
    font-family: "Spoqa Han Sans";
    font-weight: lighter;
  }

  h2 {
    font-size: 24px;
    font-family: "Spoqa Han Sans";
    font-weight: lighter;
  }

  h3 {
    font-size: 20px;
    font-family: "Spoqa Han Sans";
    font-weight: lighter;
  }
}
