.main {
  @include container;
  height: 100%;
  padding-bottom: $player-height;
  box-sizing: border-box;

  h2 {
    font-size: 40px;
    font-family: "Spoqa Han Sans";
    font-weight: lighter;
  }
}
