.navbar {
  height: $navbar-height;
  background-color: #efefef;
  padding: 0 $common-padding;

  &__title {
    font-size: 22px;
    font-weight: lighter;
    line-height: $navbar-height;
    float: left;
  }
}
