.playlist {
  @include span(4 of 12 last);
  height: calc(100% - #{$navbar-height} - #{$player-height});
  background-color: #efefef;
  padding: $common-padding;

  //&__title {
  //  margin: $common-padding;
  //}
}

