.playlist {
  @include span(4 of 12 last);
  height: calc(100% - #{$navbar-height} - #{$player-height});
  border-left: solid 1px #e1e1e1;
  //background-color: #efefef;

  &__header {
    background-color: #fafafa;
    padding: 0 $common-padding;
    border-bottom: solid 1px #e1e1e1;
    height: $panel-header-height;
    line-height: $panel-header-height;
  }

  &__title {
    //margin: $common-padding;
    font-size: 18px;
    font-weight: lighter;
  }

  &__item {
    position: relative;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    padding-left: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 40px;
    cursor: pointer;
    user-select: none;

    &__btn-clear {
      position: absolute;
      font-size: 18px;
      margin-top: -9px;
      top: 50%;
      right: 10px;
      color: #4e4e4e;
      cursor: pointer;
    }

    &--active {
      font-weight: bold;
    }

    & + & {
      border-top: solid 1px #e1e1e1;

      //&:before {
      //  content: '';
      //  display: block;
      //  width: 100%;
      //  height: 1px;
      //  background-color: #e1e1e1;
      //}
    }
  }

  &__body {
    position: relative;
    height: calc(100% - #{$panel-header-height});
    overflow-y: auto;
  }

  &__blankslate {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    margin-top: -48px;
    width: 100%;

    &__title {
      font-size: 24px;
      font-weight: normal;
    }

    &__subtitle {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

