.search {
  @include span(8 of 12);
  height: calc(100% - #{$navbar-height} - #{$player-height});

  &__header {
    background-color: #fafafa;
    padding: $common-padding;
    border-bottom: solid 1px #e1e1e1;
  }
  
  &__title {
    font-size: 18px;
    font-weight: lighter;
    display: inline;
  }

  &__input__container {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }

  &__input {
    width: 400px;
    border: solid 2px #d54b5f;
    border-radius: 30px;
    padding: 0 16px;
    margin-top: -3px;
    //border-bottom: solid 1px #d2d2d2;
    //width: auto;
    //float: right;
    height: 36px;
    outline: none;

    &__icon {
      position: absolute;
      color: #d54b5f;
      right: 20px;
      top: 7px;
    }
  }

  &__result {
    padding: 7px 0;
    overflow-y: auto;
    height: 100%;

    &__list {
      list-style: none;
      display: block;
    }

    &__item {
      position: relative;
      z-index: 99;
      padding: 4px 7px;
      line-height: 54px;

      &__pad {
        position: relative;
        overflow: auto;
      }

      &__cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: right;
        font-size: 20px;
        //opacity: 0;
        color: #4d5256;
        font-weight: 400;
        padding-right: 12px;
        //padding-top: 2px;

        //&:after {
        //  content: '';
        //  position: absolute;
        //  right: 0;
        //  top: 0;
        //  height: 100%;
        //  width: 3px;
        //  //background-color: #363a3c;
        //  background-color: #d54b5f;
        //}

        &:hover {
          color: #d54b5f;
          cursor: pointer;
        }
      }
    }

    &__item + &__item {
      margin-top: 14px;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #e1e1e1;
        top: -7px;
        left: 0;
        z-index: 100;
      }
    }

    &__thumbnail {
      width: 80px;
      float: left;
      margin-right: 10px;
    }

    &__title {
      font-size: 16px;
      font-weight: lighter;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 40px;
    }
  }
}
